In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [84]:
flights_data = pd.read_csv('flights.csv')

weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
len(flights_data)
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

336776

In [8]:
#Question 1 How many flights were there from JFK to SLC? Int
jfk_to_slc = flights_data.query('origin == "JFK" and dest == "SLC"') #easily query two criteria in two different columns
q_1 = len(jfk_to_slc) #how many rows remain
q_1

2113

In [16]:
#Question 2 How many airlines fly to SLC? Should be int
to_slc = flights_data[(flights_data['dest'] == 'SLC')] #filter to flights with a destination of SLC
q_2 = to_slc['carrier'].nunique() #count the number of unique values in carrier (airline) column
q_2

2

In [21]:
#Question 3 What is the average arrival delay for flights to RDU? float
to_rdu = flights_data[(flights_data['dest'] == 'RDU')] #filter to only flights arriving to RDU
q_3 = to_rdu['arr_delay'].mean() #take average
print(f"{q_3} minutes")

10.052380952380952 minutes

In [25]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
to_sea = flights_data[(flights_data['dest'] == 'SEA')] #filter to only flights arriving to SEA
nyc_to_sea = to_sea.query('origin == "LGA" or origin == "JFK"') #create another filtered list of those with origin as LGA or JFK
q_4 = (len(nyc_to_sea) / len(to_sea)) * 100 #generate proportion
print(f"{q_4:.1f} %") #display as percentage

53.3 %

In [110]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
flights_data['dep_date'] = pd.to_datetime(dict(year = flights_data['year'], month = flights_data['month'], day = flights_data['day'])) #make departure date column
flights_data['dep_date'] = flights_data['dep_date'].dt.strftime('%y/%m/%d') #format departure date column

q_5_slice = flights_data[['dep_delay', 'dep_date']] #take a slice of the data
q_5_groupby = q_5_slice.groupby('dep_date')['dep_delay'].mean().reset_index().set_index('dep_date') #groupby departure date and find the average, but there has got to be a more efficient way to do this
row_q_5 = q_5_groupby['dep_delay'].idxmax() #take maximum value for delay and find the index (date)
q_5 = q_5_groupby.loc[[row_q_5]].reset_index() #take whole row with that max speed
q_5

   dep_date  dep_delay
0  13/03/08  83.536921

In [112]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
q_6_slice = flights_data[['arr_delay', 'dep_date']] #take a slice of the data
q_6_groupby = q_6_slice.groupby('dep_date')['arr_delay'].mean().reset_index().set_index('dep_date') #groupby departure date and find the average, but there has got to be a more efficient way to do this
row_q_6 = q_6_groupby['arr_delay'].idxmax() #take maximum value for delay and find the index (date)
q_6 = q_6_groupby.loc[[row_q_6]].reset_index() #take whole row with that max delay
q_6

   dep_date  arr_delay
0  13/03/08  85.862155

In [83]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
flights_data['speed'] = flights_data['distance'] / flights_data['air_time'] #calculate speed

#three conditions
c1 = flights_data['origin'] == 'LGA' 
c2 = flights_data['origin'] == 'JFK'
c3 = flights_data['year'] == 2013

q_7_slice = flights_data[(c1 | c2) & c3] #filter the dataframe based on the three conditions

q_7_slice = q_7_slice [['tailnum', 'speed']] #limit to just tailnumber and speed
row = q_7_slice['speed'].idxmax() #get max speed
q_7 = q_7_slice.loc[[row]] #take whole row with that max speed
q_7

       tailnum      speed
216447  N666DN  11.723077

In [91]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_filled = weather_data_pd.fillna(0) #replace nan with 0
weather_data_filled.sample(5)
before_nan_count = weather_data_pd.isnull().sum().sum() #count nans before the replacement
after_nan_count = weather_data_filled.isnull().sum().sum() #count nans after the replacement
print(f"Before there were {before_nan_count} nans in the dataset, now there are {after_nan_count} nans in the dataset")
weather_data_filled.sample(5)

Before there were 1180 nans in the dataset, now there are 0 nans in the dataset

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
6535,6536,EWR,2013,9.0,30.0,19.0,71.96,51.08,47.75,150.0,8.05546,9.270062,0.0,1015.4,10.0
703,704,EWR,2013,1.0,30.0,8.0,41.00,39.20,93.24,20.0,4.60312,5.297178,0.0,0.0,0.5
4615,4616,EWR,2013,7.0,12.0,13.0,78.08,64.04,62.05,50.0,13.80936,15.891535,0.0,1016.3,10.0
7954,7955,EWR,2013,11.0,29.0,12.0,30.92,19.04,60.97,270.0,4.60312,5.297178,0.0,1034.9,10.0
3690,3691,EWR,2013,6.0,3.0,22.0,73.40,66.20,78.19,60.0,5.75390,6.621473,0.0,0.0,10.0

In [98]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
np.set_printoptions(threshold=np.inf) #see the whole array
feb = 2.0 
column_index = 3 
mask = weather_data_np[:, column_index] == 2.0 #limit to feb
q_9= np.sum(mask) #add up the number of rows in the feb-limited array
print(q_9)

671

In [108]:
#Question 10 What was the mean for humidity in February? Float
feb_slice = weather_data_np[mask] #took our feb-limited slice from last time
feb_humidity = feb_slice[:,7] #pulled just humidity values
q_10 = np.mean(feb_humidity) #average of humidity values
print(q_10)

21.705663189269764

In [114]:
#Question 11 What was the std for humidity in February? Float
#assuming this refers to standard deviation? 
#we already have a nice slice for just feb humidity so we start with that
q_11 = np.std(feb_humidity) #use numpy standard deviation of entire array 
print(q_11)

11.364624281817958